body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
  }

  h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #5c925d;
    color: white;
    font-size: 2rem;
  }

  .container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 12px;
  }

  th {
    background-color: #f1f1f1;
    color: #495057;
  }

  td {
    color: #212529;
  }

  .group {
    cursor: pointer;
    color: #5c925d;
    font-weight: bold;
    transition: color 0.2s ease;
  }

  .group:hover {
    color: #0056b3;
  }

  .view-schedule-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  .view-schedule-btn:hover {
    background-color: #218838;
  }

  .back-button {
    margin-bottom: 20px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5c925d;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none;
  }

  .back-button:hover {
    background-color: #0056b3;
  }
  
  .add-button {
    margin-bottom: 20px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5c925d;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none;
  }
  
  .add-button:hover {
    background-color: #5c925d;
  }

  